/*==================================
GENERAL FONTS
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
	color: $black;
	background-color: $white;
}

body, p {
	font-size: 16px;
	line-height: 28px;
	font-family: "aktiv-grotesk", sans-serif;
	
	@include mobile_landscape {
		font-size: 14px;
		line-height: 25px;
	}
}

p {
	&.small {
		font-size: 13px;
		line-height: 20px;
	}
}

h1, .h1, h2.h1 {
	font-size: 50px;
	line-height: 60px;
	font-weight: 900;
	
	@include mobile_landscape {
		font-size: 40px;
		line-height: 50px;
	}
	
	@include mobile {
		font-size: 30px;
		line-height: 40px;
	}
}

h2, .h2 {
	font-size: 36px;
	line-height: 50px;
	font-weight: 800;
	
	@include mobile_landscape {
		font-size: 30px;
		line-height: 40px;
	}
	
	@include mobile {
		font-size: 25px;
		line-height: 35px;
	}
}

h3 {
	font-size: 23px;
	line-height: 35px;
	font-weight: 800;
	
	@include mobile_landscape {
		font-size: 20px;
		line-height: 30px;
	}
}

h4 {
	font-size: 20px;
	line-height: 25px;
	font-weight: 800;
	
	@include mobile_landscape {
		font-size: 18px;
		line-height: 25px;
	}
}

h5 {
	font-size: 15px;
	line-height: 20px;
	font-weight: 800;
}

p, h1, h2, h3, h4, h5 {
	margin: 0px 0px 20px;
}

h1, h2, h3, h4, h5 {
	letter-spacing: .4px;
}

// Bold

b, strong {
    font-weight: 700;
}

/*==================================
LINKS
==================================*/

a, a:visited, a:active, a:focus {
	color: inherit;
	text-decoration: none;
	outline: 0;
}

a {
	transition: color .2s ease-in-out;
}