/*==================================
Colors
==================================*/

.text_white {
  color: $white;
}

.text_grey {
  color: $grey;
}

.text_yellow {
  color: $yellow;
}

/*==================================
Margins
==================================*/

.margin_bottom_0 {
  margin-bottom: 0px;
}

/*==================================
Fonts
==================================*/

.uppercase {
  text-transform: uppercase;
}

.text_light {
  font-weight: 300;
}

s, strike, del {
  color: red;
  text-decoration: line-through;
}

/*==================================
Alignment
==================================*/

.alignleft {
  display: inline;
  max-width: 50%;
  float: left;
  margin: 0 20px 20px 0;

  @include mobile_landscape {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

.alignright {
  display: inline;
  max-width: 50%;
  float: right;
  margin: 0 0 20px 20px;

  @include mobile_landscape {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px 0;
  }
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*==================================
Visibility
==================================*/

// Tablet

.show_on_tablet {
  display: none;
  
  @include tablet {
    display: block;
  }
}

.hide_on_tablet {
  display: block;
  
  @include tablet {
    display: none;
  }
}

/*==================================
Flex
==================================*/

// Rearrange a flex element on different devices.

.mobile_flex_order_first {
  @include mobile {
    order: -1;
  }
}

.tablet_flex_order_first {
  @include tablet {
    order: -1;
  }
}
