/*================
MEDIA QUERIES
================*/

@mixin mobile() {
	@media all and (max-width: 480px){
		@content;
	}
}

@mixin mobile_landscape() {
	@media all and (max-width: 568px) {
		@content;
	}
}

@mixin tablet() {
	@media all and (max-width: 768px){
		@content;
	}
}

@mixin above_tablet() {
	@media all and (min-width: 768px){
		@content;
	}
}

@mixin tablet_landscape() {
	@media all and (max-width: 1024px){
		@content;
	}
}

@mixin small_desktop() {
	@media all and (max-width: 1280px){
		@content;
	}
}

@mixin desktop() {
	@media all and (min-width: 1280px){
		@content;
	}
}

@mixin large_desktop() {
	@media all and (min-width: 1600px){
		@content;
	}
}

/*================
Z-Index
================*/

$z-index: (
  modal              : 40,
  navigation         : 30,
  overlay            : 20,
  priority-content   : 10,
  hidden             : -10
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}

/*================
OVERLAY
================*/

@mixin overlay($background) {
  content: "";
  position: absolute;
  background: $background;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: block;
}

/*================
CENTERED CONTENT CONTAINER
Center content horizontally and vertically in div.
================*/

@mixin content_container($horizontal_position, $vertical_position) {
	position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: $horizontal_position;
    align-items: $vertical_position;
}

/*================
SCROLLBAR
================*/

@mixin scrollbar() {
	&::-webkit-scrollbar {
	    width: 5px;
	}
	 
	&::-webkit-scrollbar-track {
	    background: rgba(255,255,255,.2); 
	}
	 
	&::-webkit-scrollbar-thumb {
	    background: $teal;  
	}
}