/*==================================
GENERAL STRUCTURE
==================================*/

body {
    top: 0 !important;
}

.main_wrapper {
    overflow-x: hidden;
}

.large_container {
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
}

.container {
    max-width: 1024px;
    width: 90%;
    margin: 0 auto;
}

.small_container {
    max-width: 680px;
    width: 90%;
    margin: 0 auto;
}

.main_content {
    padding-top: 80px;
    
    @include tablet {
        padding-top: 50px;
    }
}

body:not(.home) .page_content {
    opacity: 0;
    transition: all .5s ease-in-out;
}

body.loaded .page_content {
    opacity: 1;
}

// Panels

.rny_panel {
    padding: 60px 0;
    position: relative;
    
    @include mobile_landscape {
        padding: 30px 0;
    }
}

.rny_panel.padding_top {
    padding: 60px 0 0;
    
    @include mobile_landscape {
        padding: 30px 0;
    }
}

.rny_panel.large {
    padding: 80px 0;
    
    @include mobile_landscape {
        padding: 30px 0;
    }
}

/*==================================
FIXED COLUMN LAYOUT
==================================*/

.fixed_column_layout {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding-top: 40px
}

// Fixed Column

.fixed_column {
    width: 55%;
    padding-right: 10px;
    height: 100vh;
    position: fixed;
    left: 0;
    
    @include tablet {
        position: relative;
        width: 100%;
        padding-right: 0;
        height: auto;
    }
}

// Scrolled Column

.scrolled_column {
    width: 45%;
    float: right;
    height: 100vh;
    padding-left: 10px;
    overflow: scroll;
    
    @include tablet {
        width: 100%;
        padding-left: 0;
        height: auto;
    }
}

/*==================================
GRID
==================================*/

.rny_row {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    margin: 0px -15px;
}

.column_1, .column_1_2, .column_1_3, .column_2_3, .column_1_4, .column_3_4 {
	position: relative;
	margin: 0px 0px 30px;
	padding: 0px 15px;

	img {
		display: block;
	}
    
    @include tablet {
        margin: 0 0 10px;
    }
}

.flex_vertical_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*=== Columns ===*/

.column_1 {
    width: 100%;
}

.column_1_2 {
    width: 50%;

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_1_3 {
    width: 33.33%;

    @include tablet {
    	width: 100%;
    }
}

.column_2_3 {
    width: 66.66%;

    @include tablet {
    	width: 100%;
    }
}

.column_1_4 {
    width: 25%;

    @include tablet {
    	width: 50%;
    }

    @include mobile_landscape {
    	width: 100%;
    }
}

.column_3_4 {
    width: 75%;

    @include mobile_landscape {
    	width: 100%;
    }
}

/*=== Stretch columns so their content blocks are the same height ===*/

.stretch_height {
    display: flex;
    flex-direction: column;
}

.stretch_height .content {
    position: relative;
 	  display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}