/*================
COLORS
================*/

// Neutrals

$white: #FFFFFF;
$black: #000000;
$beige: #F3F1EE;
$lightBeige: #F8F7F5;

// Greys

$lightestGrey: #f7f6f7;
$lighterGrey: #F0F0F0;
$lightGrey: #D8D8D8;
$grey: #9B9B9B;
$darkGrey: #525B61;

// Vibrants

$yellow: #FFE657;
$teal: #1F738D;
$lightBlue: #86AAD9;
$blue: #3D97AC;
$green: #7ed321;
$red: #ec2b32;

/*================
EASINGS
================*/

$bounceIn: cubic-bezier(.25,1.7,.35,.8);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);