/*==================================
Variations
==================================*/

.woocommerce-variation.single_variation {
    margin-bottom: 0px;
}

.woocommerce div.product form.cart .variations {
    margin-bottom: 0;
}

.woocommerce div.product form.cart .variations td {
    display: block;
    clear: both;
}

.woocommerce div.product form.cart .variations label, .woocommerce div.product form.cart label {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
    display: block;
}

td.value {
    margin-bottom: 10px;
}

.woocommerce-variation-add-to-cart {
    margin-top: 5px;
}

// Variation Swatches

.button-variable-item span {
    font-size: 16px;
    line-height: 16px;
}

.woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-squared .variable-items-wrapper .variable-item {
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

.woo-variation-swatches-stylesheet-enabled.woo-variation-swatches-style-squared .variable-items-wrapper .variable-item.button-variable-item .variable-item-span {
    padding: 0;
}

.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item) {
    justify-content: left;
}

//-- Color Swatches

.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item.color-variable-item.selected, .woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item.color-variable-item.selected:hover {
    box-shadow: none;
    border: 2px solid $lightBlue;
    padding: 3px;
}

.woo-variation-swatches-stylesheet-enabled .variable-items-wrapper .variable-item:not(.radio-variable-item).color-variable-item .variable-item-span-color:after {
    box-shadow: none !important;
}

//-- Non Color Swatches

.woo-variation-raw-type-button ~ ul [data-wvstooltip] {
    &:before, &:after {
        display: none;
    }
}

.woo-variation-raw-type-button ~ ul li.variable-item {
    font-weight: 600;
    color: $black;
    height: auto;
}

.woo-variation-raw-type-button ~ ul li.variable-item.selected {
    color: $lightBlue;
    box-shadow: none !important;
}

.woo-variation-raw-type-button ~ ul li.variable-item:hover {
    box-shadow: none !important;
}

// Variation Price - Displayed below each variation when toggled

.woocommerce-variation-price {
    font-size: 12px;
    line-height: 12px;
}

.woocommerce div.product span.price del {
    opacity: 1;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: $black;
}

/*==================================
Hide Clear Functionality
==================================*/

.woocommerce div.product form.cart .reset_variations {
    display: none !important;
}

/*==================================
Stock
==================================*/

.woocommerce div.product p.stock {
    font-weight: 300;
    margin-bottom: 10px;
}

.woocommerce div.product p.stock.in-stock {
    display: none;
}

/*==================================
Quantity
Main quantity styling is in scss/components/forms
==================================*/

.woocommerce div.product form.cart label.quantity_label {
    margin-bottom: 15px;
}

.woocommerce div.product form.cart div.quantity {
    float: none;
    margin-bottom: 40px;
}

/*==================================
Buttons
==================================*/

.cart_form_buttons {
    display: flex;
}

// Add To Cart Button

.woocommerce div.product form.cart button.single_add_to_cart_button {
    display: block;
    width: 100%;
    border-radius: 0;
    background: $black;
    text-transform: uppercase;
    padding: 20px;
    outline: 0;
    font-size: 18px;
    transition: all .3s ease-in-out;

    &:hover {
        color: $black;
        background: $yellow;
    }
}

.woocommerce div.product form.cart .cart_form_buttons.reveal_enter button.single_add_to_cart_button {
    width: 50%;
    margin-right: 10px;
}

// Go To Cart Button

.go_to_cart_button {
    display: none;
    width: 50%;
}

.cart_form_buttons.reveal_active .go_to_cart_button {
    display: flex;
    align-items: center;
    justify-content: center;
}