/*==================================
Lists
==================================*/

ul, ol {
  margin: 0 0 20px;
  padding: 0;
  list-style-position: outside;
}

/*==================================
Buttons
==================================*/

input, button, textarea {
  border-radius: 0;
}

// Row NY Button

.rny_button {
  font-size: 18px;
  text-align: center;
  display: inline-block;
  background: $yellow;
  color: $black;
  border: 3px solid $yellow;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    background: $black;
    color: $yellow; 
  }
  
  @include mobile_landscape {
    padding: 5px 20px;
  }
}

// Colors

.rny_button.yellow {
  background: $yellow;
  border: 3px solid $yellow;
  color: $black;

  &:hover {
    background: $black;
    border: 3px solid $black;
    color: $yellow; 
  }
}

.rny_button.black {
  background: $black;
  border: 3px solid $black;
  color: $white;

  &:hover {
    background: $yellow;
    border: 3px solid $yellow;
    color: $black; 
  }
}

.rny_button.yellow_border {
  background: transparent;
  color: $yellow;
  border: 3px solid $yellow;

  &:hover {
    background: $yellow;
    color: $black; 
  }
}

.rny_button.white_border {
  background: transparent;
  color: $white;
  border: 3px solid $white;

  &:hover {
      background: $white;
      color: $black; 
  }
}

.rny_button.black_border {
  background: transparent;
  color: $black;
  border: 3px solid $black;

  &:hover {
    background: $black;
    color: $white; 
  }
}

// Size 

.rny_button.full_width {
  width: 100%;
  display: block;
  text-align: center;
}

// With Arrow

.rny_button.with_arrow img {
  margin-left: 10px;
  transform: translateY(3px) translateX(0);
  display: inline-block;
  margin: 0 0 0 10px;
  transition: all .3s ease-in-out;
}

.rny_button.with_arrow:hover img {
  transform: translateY(3px) translateX(6px);
}

/*==================================
Play Button
==================================*/

.play_button {
  width: 50px;
  height: 50px;
  border: 3px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  cursor: pointer;
}

.play_button .triangle {
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 15px solid;
  transform: translateX(3px);
}

// Color

.play_button.white {
  color: $white;
  background: transparent;
  transition: all .3s ease-in-out;
  
  &:hover {
    background: rgba($white, .5);
  }
}

// Sizes

.play_button.large {
  width: 100px;
  height: 100px;
  
  @include mobile_landscape {
    width: 50px;
    height: 50px;
  }
}

.play_button.large .triangle {
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 19px solid;
  
  @include mobile_landscape {
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 15px solid;
  }
}

/*==================================
Icons
==================================*/

// Social

ul.social_icons {
  display: flex;
  margin: 0 0 20px;
  list-style: none;
}

ul.social_icons li {
  margin: 0 5px;
}

ul.social_icons.center {
  justify-content: center;
}

ul.social_icons.flush_left li:first-child {
  margin: 0 5px 0 0;
}

ul.social_icons.flush_right {
  text-align: right;
  justify-content: flex-end;

  li:last-child {
    margin: 0 0 0 5px;
  }
}

ul.social_icons li a, ul.social_icons li i {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $yellow;
  color: $black;
  text-decoration: none;
  width: 35px;
  height: 35px;
  font-size: 20px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  
  &:hover {
    background: $teal;
    color: $white
  }
}

// Close

.close_icon_in_circle {
  width: 50px;
  height: 50px;
  border: 2px solid $white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  @include mobile_landscape {
    width: 30px;
    height: 30px;
  }
}

.close_icon {
  position: relative;
  display: inline-block;
  width: 23px;
  height: 23px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    &::before, &::after {
      background: $white;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $white;
    backface-visibility: hidden;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
  
  @include mobile_landscape {
    width: 18px;
    height: 18px;
  }
}

// Spinner

.fa-spinner {
  animation: spin 1.3s ease-in;
}

/*==================================
Translate Toggle
==================================*/

a.translate_toggle_container {
  display: flex;
  text-decoration: none;
}

.translate_toggle_container span {
  font-weight: 800;
  color: $black;
  font-size: 14px;
  line-height: 19px;  
  margin-right: 5px;
  transition: all .3s ease-in-out;
}

.translate_toggle {
  display: flex;
  position: relative;
  height: 20px;
  width: 40px;
  background: rgba($black, .5);
  border-radius: 30px;
  transition: all .3s ease-in-out;
}

.translate_toggle_circle {
  position: absolute;
  background: $black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  transition: all .3s ease-in-out;
}

.translate_toggle.on {
  .translate_toggle_circle {
    right: 0;
  }
}

// Color Schemes

.translate_toggle_container.light {
  span {
    color: $white;
  }
  
  .translate_toggle {
    background: rgba($white, .5);
  }

  .translate_toggle .translate_toggle_circle {
    background: $white;
  }
}

// Translate Bar

.goog-te-banner-frame {
  display: none !important;
}
    
/*==================================
Social Share
==================================*/

// Fixed

ul.rny_social_share.fixed {
  position: fixed;
  top: 40%;
  z-index: 10;
  left: 0;
  display: block;
  margin: 0;
  
  @include tablet {
    position: relative;
    display: flex;
  }
}

ul.rny_social_share.fixed li {
  margin: 0 0 5px;
  
  @include tablet {
    margin: 0 5px 0 0;
  }
}

/*==================================
Post Meta
==================================*/

.post_meta {
  color: $grey;
  font-style: italic;
}

/*==================================
Sub Navigation
==================================*/

ul.sub_nav {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
}

.sub_nav li {
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  transition: color .3s ease-in-out;
  
  &:hover, &.active, &.mixitup-control-active {
    color: $blue;
  }
  
  @include mobile_landscape {
    font-size: 12px;
  }
}

.sub_nav li:after {
  content: "|";
  padding: 0 20px;
  color: $black;
  
  @include mobile_landscape {
    padding: 0 10px;
  }
}

.sub_nav li:last-child:after {
  display: none;
}

/*==================================
Pills
==================================*/

ul.rny_pills {
  list-style: none;
}

ul.rny_pills li {
  display: inline-block;
  background: $lighterGrey;
  padding: 5px 20px;
  border-radius: 30px;
  margin: 0 5px 10px 0;
  font-weight: 700;
  cursor: pointer;
  
  &.active {
    background: $yellow;
  }
  
  @include mobile {
    font-size: 12px;
    line-height: 15px;
    padding: 5px 15px;
  }
}

ul.rny_pills.flush_left li:first-child {
  margin: 0 5px 0 0;
}

/*==================================
Logo Grid
==================================*/

ul.logo_grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

ul.logo_grid li {
  width: 33.33%;
  padding: 0 10px;
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    display: block;
    width: 100%;
  }

  @include mobile_landscape {
    width: 50%;
    padding: 0 20px;
    margin-bottom: 30px;
  }
}

/*==================================
Google Translate Bar
==================================*/

.goog-te-banner-frame {
  bottom: 0;
  top: auto !important;
}

/*==================================
Small Icon/Stat
==================================*/

.small_icon_stat_container {
  display: flex;
}

.small_icon_stat_container .icon {
  width: 40px;
}

.small_icon_stat_container p.stat {
  margin: 0 0 5px;
  color: $grey;
}

/*==================================
Popper Tooltip
==================================*/

.popper_tooltip {
  background: rgba($black, .8);
  border-radius: 3px;
  padding: 5px;
  color: $white;
}