/*==================================
Structure
==================================*/

.footer_container {
    overflow-x: hidden;
}

footer.footer {
    background: $black;
    color: $white;
    padding: 50px 0;
}

.rny_row.footer_columns .column_1_4 {
    border-right: 1px solid $grey;
    
    &:last-child {
        border-right: 0;
    }
    
    @include tablet_landscape {
        width: 50%;
        border-right: 0;
    }
    
    @include mobile_landscape {
        width: 100%;
    }
}

/*==================================
Column Content
==================================*/

// Structure

.footer_column_content {
    padding: 0 30px;
    position: relative;
    
    @include mobile_landscape {
        padding: 0;
    }
}

.footer_columns .column_1_4:first-child .footer_column_content {
    padding: 0 30px 0 0;
    
    @include tablet_landscape {
        padding: 0 30px;
    }
    
    @include mobile_landscape {
        padding: 0;
    }
}

.footer_columns .column_1_4:last-child .footer_column_content {
    padding: 0 0 0 30px;
    
    @include tablet_landscape {
        padding: 0 30px;
    }
    
    @include mobile_landscape {
        padding: 0;
    }
}

// Content Text

.footer_column_content h4 {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 30px;
}

.footer_column_content p {
    color: $grey;
    font-size: 13px;
    line-height: 20px;
}

.footer_column_content a {
    text-decoration: underline;
    
    &:hover {
        color: $yellow;
    }
}

// Translate Toggle Adjustments

footer.footer .translate_toggle_container {  
  margin-bottom: 20px;
  display: none;
  
  @include tablet {
    display: flex;
  }
}

// Row NY Logo

.footer_columns .logo {
    padding: 0 30px 0 0;
    position: absolute;
    bottom: 0;
    width: 200px;
    
    @include tablet_landscape {
        display: none;
    }
}

