/*==================================
General Inputs
==================================*/

form.rny_form input[type="submit"] {
  font-size: 18px;
  display: inline-block;
  background: $black;
  color: $white;
  border: 0;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: 800;
  -webkit-appearance: none;
  cursor: pointer;
  transition: all .3s ease-in-out;

  &:hover {
    background: $yellow;
    color: $black; 
  }
  
  @include mobile {
    display: block;
    width: 100%;
  }
}

/*==================================
Password Protect Form
==================================*/

// Input

form.password_protect_form input[name=post_password] {
  padding: 10px 20px 9px;
  border: 1px solid $black;
  margin-right: 10px;
  
  @include mobile {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

/*==================================
Mailchimp Signup Form
==================================*/

// Structure

.mc_embed_signup {
  margin-bottom: 20px;
}

.mc-embedded-subscribe-form {
    position: relative;
}

// Input

.mc_embed_signup input {
  border: 0;
  border-radius: 0;
  padding: 13px;
  width: 100%;
  margin-bottom: 5px;
  color: $black;
}

.mc_embed_signup button[type="submit"] {
  position: absolute;
  right: 13px;
  padding: 0;
  display: block;
  top: 13px;
  border-radius: 0;
  color: initial;
  background: transparent;
  cursor: pointer;
  outline: 0;
  transition: all .3s ease-in-out;
  
  &:hover {
    opacity: .5;
  }
}

.mce-responses .response {
  font-size: 10px;
  line-height: 14px;
  color: $white;
}

/*==================================
Search Form
==================================*/

form.rny_search_form {
  position: relative;
}

.rny_search_form input[type="search"] {
  background: 0;
  border: 0;
  font-weight: 800;
  outline: 0;
  padding: 10px 0 10px 40px;
  border-bottom: 3px solid $grey;
  
  &::placeholder {
    color: $grey;
  }
}

.rny_search_form button[type="submit"] {
  position: absolute;
  font-size: 23px;
  top: 8px;
  padding: 0;
  color: $grey;
}

/*==================================
Form Assembly Adjustments
==================================*/

// Title

.wFormTitle {
  display: none;
}

.wForm legend b {
  color: $black;
}

// Fonts

.wForm div, .wForm span, .wForm p {
  font-family: "aktiv-grotesk", sans-serif !important;
  color: $black;
}

.wForm .htmlContent div, .wForm .htmlContent span, .htmlContent wForm p {
  font-size: 16px !important;
	line-height: 28px !important;
	
	@include mobile_landscape {
		font-size: 14px !important;
		line-height: 25px !important;
	}
}

// Field Groupings

.single-rny_form .wForm fieldset {
    border-color: $grey;
    border-width: 1px;
}

.oneField {
  max-width: 100%;
}

// Buttons

.wfPagingButtons input[type="button"], .wForm input[type="submit"] {
  font-size: 18px;
  display: inline-block;
  padding: 10px 40px;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  -webkit-appearance: none;
  transition: all .3s ease-in-out;
}

.wfPagingButtons input[type="button"] {
  background: transparent;
  color: $black;
  border: 3px solid $black;

  &:hover {
    background: $black;
    color: $white;
  }
}

.wForm input[type="submit"] {
  background: $yellow;
  border: 3px solid $yellow;
  color: $black;

  &:hover {
    background: $black;
    border: 3px solid $black;
    color: $yellow;
  }
}

// Footer

.wFormFooter p.supportInfo {
  display: none;
}

/*==================================
Quantity Input
==================================*/

.quantity {
  display: flex;
  width: 85px;
}

// +/- buttons

.quantity-button {
  padding: 5px 0;
  background: $beige;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.quantity-button.minus {
  margin-right: 3px;
}

.quantity-button.plus {
  margin-left: 3px;
}

// Input

.quantity input[type="number"], .woocommerce .quantity input[type="number"] {
  width: 50%;
  text-align: center;
  border: 0;
  background: $beige;
  text-align: center;
  font-weight: 600;
}

.quantity input[type='number']::-webkit-inner-spin-button, 
.quantity input[type='number']::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

/*==================================
Custom Radio Buttons
==================================*/

// Hide Radio Input

[type="radio"]:checked, [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

// Label

[type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

// Custom Radio Styling using pseudo elements

[type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 3px;
  width: 14px;
  height: 14px;
  border: 1px solid $lighterGrey;
  border-radius: 3px;
  background: $white;
}

[type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 6px;
  height: 6px;
  background: $lightBlue;
  position: absolute;
  border: 1px solid $lightBlue;
  top: 7px;
  left: 4px;
  transition: all 0.2s ease;
}

// Checked State

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}