/*==================================
Toolbar
==================================*/

// Title

.fc-toolbar .fc-center h2 {
    line-height: inherit;
}

// Header Buttons

.fc-today-button {
    display: none;
}

.fc-button-group .fc-button {
    background: $black;
    border-radius: 0;
    color: $yellow;
    border: 0;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    transition: all .3s ease-in-out;
    
    &:first-child {
        margin-right: 5px;
    }
    
    &:hover {
        background: $yellow;
        color: $black;
    }
}

/*==================================
Event Link
==================================*/

a.fc-event {
    color: $white;
    background: $black;
    border-radius: 0;
    border: 0 !important;
}

/*==================================
Day Box
==================================*/

.fc-unthemed td.fc-today {
    background: $lighterGrey;
}