/*==================================
Structure
==================================*/

header.main_header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    transition: background .3s ease-in-out .2s;
    @include z-index('navigation');
    
    @include tablet {
        height: 50px;
    }
}

header.main_header .main_header_top {
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
}

header.main_header .main_header_top .large_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
    transition: all .3s ease-in-out;
}

// Scrolled

header.main_header.scrolled {
    @include above_tablet {
        height: 60px;
    }
}

.main_header.scrolled.transparent.transparent_dark_background .main_header_top {
    background: $black;
}

.main_header.scrolled.transparent.transparent_light_background .main_header_top {
    background: $white;
}

// Color Schemes

header.main_header.light .main_header_top {
    background: $white;
}

header.main_header.dark .main_header_top {
    background: $black;
}

header.main_header.navigation_open .main_header_top {
    background: transparent !important;
    transition: background 0s;
}

/*==================================
Left
==================================*/

// Logo

a.logo {
    display: block;
    position: relative;
    width: 110px;
    margin-right: 60px;
    
    @include tablet {
        width: 70px;
    }
}

a.logo img {
    display: block;
    width: 100%;
    transition: all .3s ease-in-out;
}

// Scrolled Logo

.main_header.scrolled a.logo img {
    @include above_tablet {
        width: 70%;
    }
}

// White Logo

a.logo .logo_white {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

// Translate Toggle Adjustments

.main_header .translate_toggle_container {  
  @include tablet {
    display: none;
  }
}

// Left

.main_header_left {
    width: 40%;
    display: flex;
    align-items: center;
    
    @include tablet {
        width: 50%
    }
}

// Color Schemes

.main_header.dark, .main_header.transparent.transparent_dark_background, .main_header.navigation_open {
    .logo_black {
        opacity: 0;
    }
    .logo_white {
        opacity: 1;
    }
    .translate_toggle_container span {
        color: $white;
    }
    .translate_toggle {
        background: rgba($white, .5);
    }
    .translate_toggle_circle {
        background: $white;
    }
}

// Navigation Open Transformation

.main_header.navigation_open {
    .logo_black {
        opacity: 0;
    }
    .logo_white {
        opacity: 1;
    }
}

/*==================================
Middle
==================================*/

.main_header_middle {
    width: 20%;
    display: flex;
    justify-content: center;
    
    @include tablet {
        order: 3;
        width: 10%;
        justify-content: flex-end;
    }
}

// Menu Icon

.menu_icon_container {
    display: flex;
    cursor: pointer;
}

.menu_icon {
    position: relative;
    display: block;
    margin-right: 10px;
    width: 50px;
    height: 25px;
    
    @include tablet {
        margin-right: 0;
    }
}

span.menu_icon_line {
    display: block;
    position: absolute;
    background: $black;
    height: 3px;
    margin-bottom: 3px;
}

span.menu_icon_line.top {
    width: 15px;
    top: 0;
    right: 0;
    transition: all .3s ease-in-out;
}

span.menu_icon_line.middle {
    width: 30px;
    top: 50%;
    right: 0;
    margin-top: -3px;
}

span.menu_icon_line.bottom {
    width: 20px;
    bottom: 0;
    right: 0;
    transition: all .3s ease-in-out;
}

.menu_icon_text {
    font-weight: 800;
    color: $black;
    font-size: 14px;
    line-height: 19px;
    
    @include tablet {
        display: none;
    }
}

// Color Scheme: Dark

.main_header.dark, .main_header.transparent.transparent_dark_background {
    span.menu_icon_line  {
        background: $white;
    }
    .menu_icon_text {
        color: $white;
    }
}

// Navigation Open Transformation

.main_header.navigation_open {
    span.menu_icon_line.top {
        width: 20px;
        top: 10px;
        right: 0;
        transform: rotate(45deg);
    }
    span.menu_icon_line  {
        background: $white;
    }
    .menu_icon_text {
        color: $white;
    }
    span.menu_icon_line.middle {
        opacity: 0;
    }
    span.menu_icon_line.bottom {
        width: 20px;
        bottom: 9px;
        right: 0;
        transform: rotate(-45deg);
    }
}

/*==================================
Right
==================================*/

.main_header_right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    
    @include tablet {
        width: 30%;
    }
}

// Cart Icon

.header_cart_icon {
    margin-right: 30px;
    position: relative;
    color: $black;
    opacity: 1;
    transform: scale(1);
    transition: all 1s $bounceIn;
}

.header_cart_icon.hide {
    opacity: 0;
    transform: scale(.6);
    pointer-events: none;
}

span.cart_icon_number {
    position: absolute;
    top: -2px;
    right: -9px;
    background: $black;
    color: $white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

// Header Button

a.header_button {
    font-size: 15px;
    line-height: 15px;
    display: inline-block;
    background: $black;
    border: 2px solid $black;
    color: $white;
    padding: 5px 20px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
        background: $white;
        color: $black; 
    }
    
    @include tablet {
        font-size: 10px;
        line-height: 10px;
        padding: 5px 15px;
        border: 2px solid $black;
    }
}

// Scrolled

.main_header.scrolled a.header_button {
    /* @include above_tablet {
        font-size: 14px;
        line-height: 18px;
        padding: 5px 20px;  
    } */
}

// Color Scheme: Dark

.main_header.dark, .main_header.transparent.transparent_dark_background {

    .header_cart_icon {
        color: $white;
    }

    span.cart_icon_number {
        background: $white;
        color: $black;
    }

    a.header_button {
        background: $white;
        border: 2px solid $white;
        color: $black;

        &:hover {
            background: transparent;
            color: $white; 
        }
        
        @include tablet {
            border: 2px solid $white;
        }
    }
}

// Navigation Open Transformation

.main_header.navigation_open {
    .header_cart_icon {
        color: $white;
    }

    span.cart_icon_number {
        background: $white;
        color: $black;
    }
}

.main_header.navigation_open a.header_button {
    background: transparent;
    color: $white;
    border: 2px solid $yellow;

    &:hover {
        background: $yellow;
        color: $black;
    }
    
    @include tablet {
        border: 2px solid $yellow;
    }
}

/*==================================
Sub Nav
==================================*/

.main_header_sub_nav {
    position: absolute;
    top: 0px;
    background: $beige;
    width: 100%;
    height: 40px;
    transition: all .5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.reveal {
        top: 60px;
    }
    
    @include tablet {
        display: none;
    }
}

// Hide Sub Nav when the main header is transparent

.main_header.transparent, .main_header.navigation_open {
    .main_header_sub_nav {
        display: none;
    }   
}
