/*==================================
STRUCTURE
==================================*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($black, .8);
    @include z-index(hidden);
    opacity: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease-in-out, z-index 0s .5s ease-in-out;
}

.modal.open {
    @include z-index(modal);
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

/*==================================
TRIGGER
==================================*/

.modal_trigger {
    cursor: pointer;
}

/*==================================
TRANSPARENT LAYER
==================================*/

.modal_transparent_layer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    width: 100%;
    height: 100%;    
}

// Main Content

.modal_content {
    width: 90%;
    z-index: 13;
    transform: scale(.95);
    transition: all .3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.modal.open .modal_content {
    transform: scale(1);
}

/*==================================
MODAL CLOSE
==================================*/

.modal_close .close_icon_in_circle {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
    z-index: 10;
    transition: all .3s ease-in-out;

    &:hover {
        transform: rotate(90deg);
    }

    @include tablet {
        right: 10px;
        top: 10px;
        font-size: 30px;
    }
}

/*==================================
VIDEO MODAL
==================================*/

.video_modal .modal_content {
    width: 80%;
}

/*==================================
CONTENT MODAL
==================================*/

.content_modal .modal_content {
    background: $white;
    padding: 30px;
    max-width: 800px;
    max-height: 500px;
    overflow: scroll;
    border-bottom: 10px solid $blue;
    
    @include mobile_landscape {
        padding: 20px;
        max-height: 400px;
    }
}

// Hidden content on the page that is pulled into the modal

.modal_content_to_show {
    display: none;
}

/*==================================
TRANSLATE MODAL
==================================*/

.translate_modal .modal_content {
    color: white;
    text-align: center;
}