/*==================================
Structure
==================================*/

.navigation_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    background: $black;
    color: $white;
    opacity: 0;
    @include z-index('hidden');
    transition: opacity .3s ease-in-out, z-index 0s .5s ease-in-out;
    
    @include above_tablet {
        &.open {
            opacity: 1;
            transition: opacity .5s ease-in-out;
            @include z-index('overlay');
        }
    }
}

.navigation_overlay_container {
    display: flex;
    max-width: 1200px;
    width: 90%;
    margin: 140px auto 0;
}

.navigation_overlay_left {
    width: 70%;
}

.navigation_overlay_right {
    width: 30%;
    padding-left: 60px;
}

// Font

.navigation_overlay a:hover {
    color: $yellow;
}

/*==================================
Main Navigation
==================================*/

ul.main_navigation {
    list-style: none;
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

ul.main_navigation li {
    width: 50%;
    padding: 0 25px;
    margin-bottom: 30px;
    opacity: 0;
    transform: translateX(-40px);
    transition: all .3s ease-in-out;
    
    @include tablet_landscape {
        margin-bottom: 20px;
    }
}

// Font Adjustments

ul.main_navigation li p {
    opacity: .7;
}

.main_navigation li h2 {
    margin-bottom: 5px;
    
    @include small_desktop {
        font-size: 25px;
        line-height: 28px;
    }
}

// Nav item transition effect

@for $i from 1 to 10 {
    ul.main_navigation li:nth-child(#{$i}) { 
        transition-delay: $i * 0.1s; 
    }
}

.navigation_overlay.open {
    ul.main_navigation li {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*==================================
Search Form Adjustments
==================================*/

.navigation_overlay .rny_search_form {
    margin-bottom: 30px;
    padding: 0 25px;
}

.navigation_overlay .rny_search_form input[type="search"] {
    width: 0%;
    font-size: 36px;
    line-height: 50px;
    border-bottom: 3px solid $grey;
    transition: width .3s ease-in-out .1s;
    
    &::placeholder {
        color: $grey;
    }
    
    @include small_desktop {
        font-size: 25px;
        line-height: 28px;
    }
}

.navigation_overlay .rny_search_form button[type="submit"] {
    font-size: 30px;
    top: 23px;
    
    @include small_desktop {
        font-size: 25px;
        line-height: 28px;
        top: 13px;
    }
}

.navigation_overlay.open .rny_search_form input[type="search"] {
    width: 100%;
}

/*==================================
Secondary Navigation
==================================*/

ul.secondary_navigation {
    list-style: none;
}

ul.secondary_navigation h3 {
    @include small_desktop {
        font-size: 20px;
        line-height: 30px;
    }
}

ul.secondary_navigation li:last-child a {
    color: $yellow;
}

/*==================================
Mobile Navigation Overlay
==================================*/

.mobile_navigation_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $black;
    color: $white;
    opacity: 0;
    @include z-index('hidden');
    transition: opacity .3s ease-in-out, z-index 0s .5s ease-in-out;
    
    @include tablet {
        &.open {
            opacity: 1;
            transition: opacity .5s ease-in-out;
            @include z-index('overlay');
        }
    }
}

// Slider

.flexslider.navigation_slider {
    height: 100%;
}

.mobile_navigation_overlay .flex-viewport {
    height: 100%;
}

.mobile_navigation_overlay ul.slides {
    height: 100%;
}

.mobile_navigation_overlay ul.slides > li {
    height: 100%;
}

.flexslider.navigation_slider .flex-control-nav {
    bottom: 50px;
    padding-bottom: 0;
}

// Mobile Navigation

.mobile_primary_navigation_container, .mobile_secondary_navigation_container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
}

ul.mobile_navigation_list {
    list-style: none;
    margin: 0;
    text-align: right;
}

.mobile_navigation_list h2 {
    font-size: 23px;
    line-height: 23px;
}

// Mobile Primary Navigation

.mobile_primary_navigation_container {
    background: $black;
    color: $white;
}

// Mobile Secondary Navigation

.mobile_secondary_navigation_container {
    background: $yellow;
    color: $black;
}

ul.mobile_secondary_navigation {
    list-style: none;
    margin: 0;
}