/*==================================
Section Header
==================================*/

header.section_header {
    text-align: center;
    padding: 30px 0px;
    background: $beige;
    color: $black;
    overflow: hidden;
    
    @include mobile_landscape {
        padding: 20px 0;
    }
}

header.section_header h4 {
    display: inline-block;
    position: relative; 
    margin-bottom: 0; 
    
    &:before, &:after {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid $lightGrey;
        top: 7px;
        width: 2000px;
    }
    
    &:before {
        right: 100%;
        margin-right: 15px;
    }
    
    &:after {
        left: 100%;
        margin-left: 15px;
    } 
}

/*==================================
Plyr Video
==================================*/

.plyr__control {
    color: $white;
}

// Play Button

.plyr__control--overlaid {
    border: 3px solid white;
    background: rgba($white, 0);
    width: 100px;
    height: 100px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
    &:hover {
        background: rgba($white, .2);
    }
}

.plyr__control--overlaid svg {
    height: 30px;
    left: 2px;
    position: relative;
    width: 30px;
}

// Controls

.plyr--video .plyr__controls .plyr__control.plyr__tab-focus, .plyr--video .plyr__controls .plyr__control:hover, .plyr--video .plyr__controls .plyr__control[aria-expanded=true] {
    background: rgba($blue, 1);
}

.plyr--full-ui input[type=range] {
    color: $blue;
}

/*==================================
Featured Video
==================================*/

.video_image img {
    display: block;
}

// Info Box

.video_info_box {
    background: $yellow;
    color: $black;
    padding: 30px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    display: flex;
    transition: all .3s ease-in-out;
    
    &:hover {
        background: $black;
        color: $yellow;
    }
}

.video_info {
    text-align: right;
    padding-right: 10px;
    h4, p {
        margin-bottom: 0;
    }
}

// Alignment

.video_info_box.left {
    left: -50px;
    
    @include tablet {
        left: 0;
    }
}

.video_info_box.right {
    right: -50px;
    
    @include tablet {
        right: 0;
    }
}

/*==================================
Special Template Featured Video
==================================*/

.special_template_featured_video {
    position: absolute;
    right: 0;
    top: 30%;
    width: 280px;
    z-index: 10;
    
    @include tablet {
        display: none;
    }
}

/*==================================
Image Caption
==================================*/

p.image_caption {
    position: absolute;
    bottom: 0;
    left: 0; 
    width: 100%;
    margin-bottom: 0;
    padding: 10px 20px;
    background: rgba($black, .5);
    color: $white;
    text-align: center;
}

/*==================================
Call To Action Bar
==================================*/

.call_to_action_bar {
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.call_to_action_bar h4 {
    margin: 0 30px 0 0;
    font-size: 15px;
    line-height: 20px;
    
    @include tablet {
        width: 100%;
        text-align: center;
        margin: 0 0 20px;
    }
}

// Color Schemes

.call_to_action_bar.black {
    background: $black;
    color: $white;
}

.call_to_action_bar.yellow {
    background: $yellow;
    color: $black;
}

.call_to_action_bar.blue {
    background: $blue;
    color: $white;
}

/*==================================
Link Blocks
==================================*/

// Structure

.link_blocks {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
}

// Individual Block

.link_blocks .link_block {
    position: relative;
    background: $black;
    color: $white;
    text-align: center;
    padding: 100px 0;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    display: flex;
    align-items: center;
    transition: all .3s ease-in-out;
    
    @include tablet {
        padding: 50px 0;
    }
}

.link_blocks p {
    margin-bottom: 0;
    user-select: all;
}

.link_block .background_image {
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease-in-out .1s;
    z-index: 9;
}

.link_block .background_image:before {
    @include overlay(rgba($black, .5));
}

.link_block.show_background_by_default .background_image {
    opacity: 1;
}

.link_block .content {
    z-index: 10;
    position: relative;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
}

// Separator

.link_blocks span.separator {
    display: block;
    position: relative;
    background: $yellow;
    height: 3px;
    width: 30px;
    margin: 20px auto;
    transition: all .5s ease-in-out;
}

span.separator:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: $black;
    transition: all .3s ease-in-out .1s;
}

// Columns

.link_blocks.two_columns .link_block {
    width: 50%;
    
    @include tablet {
        width: 100%;
        border-right: 0;
    }
}

.link_blocks.three_columns .link_block {
    width: 33.33%;
    
    @include tablet_landscape {
        width: 50%;
        border-right: 1px solid $grey !important;
    }
    
    @include tablet {
        width: 100%;
        border-right: 0 !important;
    }
    
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        border-top: 1px solid $grey;
    }
    
    &:nth-child(3n) {
        border-right: 0;
    }
}

.link_blocks.four_columns .link_block {
    width: 25%;
    
    @include tablet_landscape {
        width: 50%;
    }
    
    @include tablet {
        width: 100%;
        border-right: 0;
    }
    
    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        border-top: 1px solid $grey;
    } 
    
    &:nth-child(4n) {
        border-right: 0;
    }
}

// Colors

.link_blocks.black {
    background: $black;
}

.link_blocks.black .link_block {
    background: $black;
    color: $white;
    
    span.separator:before {
        background: $black;
    }
    
    &:hover {
        background: $yellow;
        color: $black;
    }
}

.link_blocks.teal {
    background: $teal;
}

.link_blocks.teal .link_block {
    background: $teal;
    color: $white;
    
    span.separator:before {
        background: $black;
    }
    
    &:hover {
        background: $white;
        color: $teal;
    }
}

.link_blocks.black a.link_block.with_background_image, .link_blocks.teal .link_block.with_background_image {
    
    span.separator:before {
        background: $white;
    }
    
    &:hover {
        background: transparent;
        color: $white;
    }
}

// Hover

.link_block:hover .background_image {
    opacity: 1;
}

.link_block:hover span.separator:before {
    width: 100%;
}

/*==================================
Stat Blocks
==================================*/

// Structure

.stat_blocks {
    display: flex;
    flex-flow: row wrap;
}

.stat_container {
    background: $black;
    color: $white;
    width: 33.33%;
    padding: 30px 0;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    
    @include tablet_landscape {
        width: 50%;
    }
    
    @include tablet {
        width: 100%;
        border-right: 0;
    }
}

// Stat SVG

.stat {
    width: 80%;
    max-width: 300px;
    text-align: center;
    margin: 0 auto 20px;;
    position: relative;
}

.stat_percent {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 47%;
    color: $white;
    transform: translateX(-50%) translateY(-50%);
}

.stat svg.stat_svg {
  width: 200px;
  height: 200px;
}

.stat_svg circle {
    stroke: rgba($yellow, .2);
    stroke-width: 10px;
    fill: none;
}

// Stat Content

.stat_content {
    text-align: center;
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
}

.stat_content p {
    margin: 0;
}

/*==================================
Icon Blocks
==================================*/

// Structure

.icon_blocks {
    background: $black;
    display: flex;
    flex-flow: row wrap;
    background-size: cover;
    background-position: center bottom;
    padding-top: 50px;
}

.icon_block {
    border-right: 1px solid rgba($white,.5);
    text-align: center;
    color: $white;
    width: 50%;
    margin: 0 0 30px;
    
    @include mobile_landscape {
       border-right: 0;
    }
}

.icon_container {
    max-width: 300px;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s $easeOutBack;
}

.icon_block.animated .icon_container {
    opacity: 1;
    transform: translateY(0);
}

// Columns

.icon_blocks.two_column .icon_block {
    width: 50%;
    
    &:nth-child(2n) {
        border-right: 0;
    } 
    
    @include mobile_landscape {
        width: 100%;
    }
}

.icon_blocks.three_column .icon_block {
    width: 33.33%;
    
    &:nth-child(3n) {
        border-right: 0;
    } 
        
    @include mobile_landscape {
        width: 100%;
    }
}

// Individual Icon

.icon_container img {
    height: 100px;
    width: auto;
    margin-bottom: 20px;
}

// Background Image

.icon_blocks.with_background_image {
    padding-bottom: 35%;
}

// Color Schemes

.icon_blocks.black {
    background: $black;
    
    .icon_block {
        border-right: 1px solid rgba($white,.5);
    }
}

.icon_blocks.teal {
    background: $teal;
    
    .icon_block {
        border-right: 1px solid rgba($white,.5);
    }
}

/*==================================
Full Width Image
==================================*/

// Structure

.full_width_image {
    height: 750px;
    background-size: cover;
    background-position: center;
    position: relative;
    
    @include large_desktop {
        height: 1000px;
    }
    
    @include tablet_landscape {
        height: 500px;
    }
    
    @include tablet {
        height: 400px;
    }
}

// Content

.full_width_image_content {
    width: 450px;
    position: absolute;
    top: 100px;
    
    @include mobile_landscape {
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        padding: 20px;
        background: rgba($white,.3);
    }
}

.full_width_image_content.left {
    left: 100px;
    
    @include mobile_landscape {
        left: 0;
    }
}

.full_width_image_content.right {
    right: 100px;
    
    @include mobile_landscape {
        right: 0;
    }
}

.full_width_image .full_width_image_content  {
    h1, p, .rny_button {
        opacity: 0;
        transform: translateX(100px);
    }
}

.full_width_image_content p {
    transition: 1s all ease-in-out .2s;
}

.full_width_image_content h1 {
    margin-bottom: 40px;
    transition: 1s all ease-in-out .3s;
    
    @include mobile_landscape {
        margin-bottom: 20px;
    }
}

.full_width_image_content .rny_button {
    transition: 1s opacity ease-in-out .4s, 1s transform ease-in-out .4s, .3s background ease-in-out, .3s color ease-in-out;
}

// Animated Content

.full_width_image.animated .full_width_image_content  {
    h1, p, .rny_button {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*==================================
FAQ's
==================================*/

.rny_faq_container {
    margin-bottom: 20px;
}

.rny_faq {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid $blue;
    padding: 20px 40px 20px 0;
    cursor: pointer;

    &:first-child{
        padding: 0 40px 20px 0;
    }

}

// Title

h5.rny_faq_title {
    color: $blue;
    margin-bottom: 0;
    transition: all .3s ease-in-out;
}

// Content

.rny_faq_content {
    opacity: 0;
    max-height: 0;
    margin-bottom: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

// Arrow After

.rny_faq:after {
    content: '\f107';
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    color: $blue;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -13px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transition: all .3s ease-in-out;
}

.rny_faq:first-of-type:after {
    top: 0;
    margin-top: 0;
}

// Open State

.rny_faq.open {
    .rny_faq_title {
        margin-bottom: 10px;
    }
    .rny_faq_content {
        opacity: 1;
        max-height: 500px;
    }
    &:after {
        transform: rotate(-180deg);
    }
}

// Hide empty paragraphs after shortcode output

.rny_faq + p:empty {
    display: none;
}

.rny_faq br:first-child {
    display: none;
}

/*==================================
Blog Post Card
==================================*/

.post_card {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

// Content

.post_card .content {
    background: $lighterGrey;
    text-align: center;
    padding: 20px;
    flex: 1;
}

.post_card .content h4 {
    margin-bottom: 5px;
}

.post_card:hover .content h4 a {
    border-bottom: 2px solid $yellow;
}

.post_card .content p {
    margin-bottom: 0;
    font-weight: 300;
}

// Image

.post_card_image {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
}

.post_card_image:after {
    content: '';
    display: block;
    padding-bottom: 60%;
}

.post_card_image_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: all .3s ease-in-out;
}

// Image Link

a.post_card_image_link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

/*==================================
Featured Post Card
==================================*/

.featured_post_card .content {
    padding: 20px 40px;
    @include tablet {
        padding: 20px;
    }
}

.featured_post_card:hover .content h2 a {
    border-bottom: 2px solid $yellow;
}

// Image

.featured_post_card .image img {
    display: block;
    width: 100%;
}

/*==================================
Instagram Feed
==================================*/

.instafeed_container {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;

    @include tablet_landscape {
        margin: 0 -5px;
    }
}

// Instafeed Item

.instafeed_item_container {
    width: 12.5%;
    margin: 0;
    position: relative;

    @include tablet {
        width: 25%;
    }
    
    @include mobile_landscape {
        width: 50%;
    }

}

.instafeed_item_container:after {
    content: '';
    padding-bottom: 100%;
    display: block;
}

a.instafeed_item {
  width: 100%;
  background-size: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

// On mobile only show 4

.instafeed_container .instafeed_item_container:nth-child(n+5) {
  @include tablet {
    display: none;
  }
}

/*==================================
PDF Viewer
==================================*/

// Toolbar

.pdfemb-viewer .pdfemb-toolbar {
    background: $black;
}

.pdfemb-viewer .pdfemb-toolbar button.pdfemb-prev::before {
    content: '\f106';
    font-family: 'Font Awesome 5 Pro';
}

.pdfemb-viewer .pdfemb-toolbar button.pdfemb-next::before {
    content: '\f107';
    font-family: 'Font Awesome 5 Pro';
}

// Hide Powered By Text

div.pdfemb-toolbar div.pdfemb-poweredby {
    display: none;
}

/*==================================
Filter Bar
---
Bar that expands with filter items. Mainly used on the blog and category pages.
==================================*/

.filter_bar {
    position: relative;
    left: 0;
    width: 100%;
    background: $white;
    z-index: 10;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    transition: all .3s ease-in-out;
}

.filter_title {
    height: 50px;
    background: $lightBeige;
    font-weight: 300;
    text-align: center;
    outline: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.filter_title span {
    font-weight: 600;
    border-bottom: 2px solid $yellow;
}

.filter_title i {
    transition: all .3s ease-in-out;
}

// Filter Bar List

ul.filter_bar_list {
    text-align: center;
    margin: 0;
    list-style: none;
    font-weight: 300;
    padding: 20px 0;
    
    @include mobile_landscape {
        column-count: 1;
        text-align: center;
    }
}

ul.filter_bar_list li {
    margin-bottom: 10px;
    
    &.active, &:hover {
        font-weight: 600;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.filter_bar_list_container {
    max-height: 0;
    opacity: 1;
    overflow: hidden;
    background: $lightBeige;
    position: absolute;
    width: 100%;
    top: 60px;
    transition: all .5s ease-in-out;
}

// Open State

.filter_bar.open .filter_title i {
    transform: rotate(-180deg);
}

.filter_bar.open .filter_bar_list_container {
    opacity: 1;
    max-height: 1000px;
}

/*==================================
Search Header
==================================*/

header.search_header {
    display: flex;
    justify-content: space-between;
}

/*==================================
Google Calendar
==================================*/

.rny_google_calendar {
    margin-bottom: 20px;
}