/*==================================
Image
==================================*/

section.page_hero_image {
    height: 700px;
    position: relative;
    background-size: cover;
    background-position: center;
    
    @include large_desktop {
        height: 800px;
    }
    
    @include tablet_landscape {
        height: 500px;
    }
    
    @include tablet {
        height: 300px;
    }
}

// Text Overlay

.page_hero_image_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba($black,.5);
    color: $white;
}

.page_hero_image_overlay .content {
    width: 90%;
    max-width: 800px;
}

/*==================================
Slider
==================================*/

.flexslider.page_hero_slider {
    height: 700px;
    
    @include large_desktop {
        height: 800px;
    }
    
    @include tablet_landscape {
        height: 500px;
    }
    
    @include tablet {
        height: 300px;
    }
}

.page_hero_slider ul.slides {
    height: 100%;
}

.page_hero_slider ul.slides > li {
    height: 100%;
    background-size: cover;
    background-position: center;
}

/*==================================
Video
==================================*/

.rny_plyr_container {
    position: relative;
}

.rny_plyr_cover_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-color: $white;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &.hide {
        display: none;
    }
}

.rny_plyr_cover_image .play_button {
    color: $white;
}

/*==================================
Map
==================================*/

.page_hero_map iframe {
    width: 100%;
    height: 700px;
    
    @include tablet_landscape {
        height: 500px;
    }
    
    @include tablet {
        height: 300px;
    }
}