/*==================================
Page Header
==================================*/

header.page_header {
    text-align: center;
    padding: 50px 0px;
    
    @include mobile_landscape {
        padding: 30px 0;
    }
}

header.page_header {
    h1, h2, h3 {
        margin-bottom: 0;
    }    
}

header.page_header p {
    margin-bottom: 5px;
    font-weight: 300;
    
    @include mobile_landscape {
		font-size: 14px;
		line-height: 20px;
	}
}

header.page_header .page_header_link {
    margin: 10px 0 0;
    font-weight: 800;
    transition: all .3s ease-in-out;
    
    &:hover {
        opacity: .8;
    }
}

// Color Schemes

header.page_header.light {
    background: $white;
    color: $black;
    
    .page_header_link {
        color: $teal;
    }
}

header.page_header.dark {
    background: $black;
    color: $white;
    
    .page_header_link {
        color: $yellow;
    }
}

header.page_header.beige {
    background: $beige;
    color: $black;
}

// Size

header.page_header.narrow {
    padding: 20px 0;
}

// Sub Navigation

header.page_header .sub_nav {
    margin: 20px 0 0;
    
    @include tablet {
        margin: 10px 0 0;
    }
}