/*==================================
General
==================================*/

.flexslider .slides img {
    margin-bottom: 0;
}

/*==================================
Flexslider Direction Nav
==================================*/

.flexslider .flex-direction-nav {
    list-style-type: none;
}

.flexslider .flex-direction-nav a {
    color: $white;
    border-bottom: 0 !important;
    width: auto;
    padding: 0px 10px;
    font-size: 40px;
    height: 50px;
    margin: -25px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .3s ease-in-out;

    &:hover {
        color: $yellow;
    }

    @include mobile_landscape {
        padding: 0 5px;
        font-size: 16px;
        height: 40px;
    }
}

.flexslider .flex-direction-nav .flex-prev {
    left: 20px;
}

.flexslider .flex-direction-nav .flex-next {
    right: 20px;
}

// Color

.flexslider.light .flex-direction-nav a {
    color: $black;
    
    &:hover {
        color: $teal;
    }
}

/*==================================
Flexslider Control Nav
==================================*/

.flex-control-nav {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    z-index: 10;
    height: auto;
    padding-bottom: 20px;
    line-height: 0;
}

.flexslider .flex-control-paging li a {
    border: 1px solid $white;
    background: transparent;
    box-shadow: none;

    &.flex-active {
        background: $white;
    }
}

/*==================================
Quote Slider
==================================*/

// Structure

.quote_slider ul.slides {
    background: $black;
    color: $white;
}

li.quote_slide {
    padding: 60px 0;
    
    @include mobile_landscape {
        padding: 30px 0;
    }
}

li.quote_slide .container {
    display: flex !important;
    flex-flow: row wrap;
}

// Image

.quote_slide .image {
    width: 200px;
    height: 200px;
    margin-right: 30px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    
    @include mobile_landscape {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
}

// Content

.quote_slide .content{
    flex: 1;
    
    @include mobile_landscape {
        flex: auto;
        width: 100%;
        padding: 0 30px;
    }
}

.quote_slide .content p {
    color: $grey;
    margin-bottom: 5px;
}

.quote_slide .content h3 {
    margin-bottom: 0;
}

// Colors

.quote_slider.light ul.slides {
    background: $beige;
    color: $black;
}

.quote_slider.dark ul.slides {
    background: $black;
    color: $white;
}

/*==================================
Background Image Slider
==================================*/

.flexslider.background_image_slider {
    width: 100%;
    position: relative;
}

.flexslider.background_image_slider ul.slides {
    width: 100%;
    height: 100%;
}

.flexslider.background_image_slider ul.slides > li {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

// Regular

.flexslider.background_image_slider.regular {
    height: 700px;
    
    @include large_desktop {
        height: 1000px;
    }
    
    @include tablet_landscape {
        height: 500px;
    }
    
    @include tablet {
        height: 300px;
    }
    
}

// Narrow

.flexslider.background_image_slider.narrow {
    height: 400px;
    
    @include large_desktop {
        height: 800px;
    }
        
    @include tablet {
        height: 300px;
    }
}

/*==================================
Fullscreen Slider
==================================*/

.flexslider.fullscreen_slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.flexslider.fullscreen_slider ul.slides {
    width: 100%;
    height: 100%;
}

.flexslider.fullscreen_slider ul.slides > li {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

    &:before {
        @include overlay(rgba($black, .4));
    }
}

// Content

.fullscreen_slider_content_container {
    position: absolute;
    bottom: 200px;
    left: 0;
    width: 100%;
    z-index: 11;
    
    @include tablet {
        bottom: 100px;
    }
}

.fullscreen_slider_content {
    color: $white;
    max-width: 600px;
}

.fullscreen_slider_content p {
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: $lighterGrey;
    margin-bottom: 20px;
}

.fullscreen_slider_content a.rny_button {
    display: none;
    
    @include tablet {
        display: inline-block;
    }
}

/*==================================
Fullscreen Slider Tabs
==================================*/

.fullscreen_slider_tabs_container {
    margin-bottom: 0;
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

ul.fullscreen_slider_tabs {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 -5px;
    
    @include tablet {
        display: none;
    }
}

ul.fullscreen_slider_tabs li {
    width: 25%;
    padding: 0 5px;
}

.fullscreen_slider_tab {
    position: relative;
    display: block;
    background: $yellow;
    cursor: pointer;
    text-align: center;
    height: 55px;
    overflow: hidden;
    padding: 15px 0;
    transition: all .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.fullscreen_slider_tab h3 {
    margin-bottom: 0;
}

.fullscreen_slider_tab p {
    margin-bottom: 0;
    transform: translateY(-5px);
    color: black;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease-in-out .2s;
}

// Progress Bar

/* .progress_bar {
    position: absolute;
    height: 10px;
    bottom: 0;
    left: 0;

    &.overview {
        background: rgba($white, .3);
        width: 100%;
    }

    &.progress {
        background: rgba($white, 1);
        width: 10%;
    }
} */

// Active State

.fullscreen_slider_tab.active {
    height: 100px;
}

.fullscreen_slider_tab.active p {
    transform: translateY(0px);
    opacity: 1;
}

/*==================================
Tab Slider
==================================*/

.tab_slider_section {
    @include mobile_landscape {
        display: none;
    }
}

section.tab_slider_container {
    height: 800px;
    position: relative;
}

.tab_slider.flexslider {
    height: 100%;
}

.tab_slider.flexslider ul.slides {
    height: 100%;
}

.tab_slider.flexslider ul.slides li {
    height: 100%;
    background-size: cover;
}

// Tab Slider Navigation

ul.tab_navigation {
    position: absolute;
    top: 0;
    height: 100%;
    width: 10%;
    border-right: 1px solid $grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
    list-style: none;
    margin: 0;
}

ul.tab_navigation li {
    color: $white;
    cursor: pointer;
    font-weight: 800;
    opacity: .5;
    transition: all .3s ease-in-out;

    &.active {
        opacity: 1;
    }
}

.tab_position_indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $white;
    position: absolute;
    top: 0;
    left: 10%;
    margin-left: -10px;
    z-index: 10;
    transition: all .8s cubic-bezier(0.39, 0.575, 0.565, 1);
}

// Content

.tab_slider_content_container {
    position: absolute;
    left: 10%;
    width: 40%;
    height: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $white;
}

// Background Overlay

.tab_slider_background_overlay {
    background: rgba($black, .6);
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

/*==================================
Thumbnail Slider
==================================*/

.thumbnail_slider ul.slides > li {
    position: relative;
    cursor: pointer;
}

// Images 

.thumbnail_slider img {
    filter: grayscale(1);
}

// Image Overlay

.thumbnail_slider_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($teal, .9);
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.flex-active-slide .thumbnail_slider_overlay {
    opacity: 1;
}

.thumbnail_slider_overlay .content {
    text-align: center;
    padding: 20px;
}

.thumbnail_slider_overlay h3 {
    margin-bottom: 0;
}

.thumbnail_slider_overlay p {
    margin-bottom: 0;
    font-weight: 300;
}

