/*==================================
General Thumbnail Card Image Hover Effect
==================================*/

.thumbnail_card_image {
    overflow: hidden;
    position: relative;
}

.thumbnail_card_image:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

.thumbnail_card_image_hover {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .3s ease;
}

.thumbnail_card_image:hover .thumbnail_card_image_hover {
    opacity: 1;
}

/*==================================
Staff/Board Thumbnail Card
==================================*/

// Structure

.staff_thumbnail_card {
    display: flex;
    flex-direction: column;
}

// Image 

.staff_thumbnail_card_image {
    display: block;
    background-size: cover;
    background-position: center top;
    transition: all .3s ease-in-out;
}

// Content

.staff_thumbnail_card_content {
    background: $lighterGrey;
    padding: 20px;
    text-align: center;
    flex: 1;

    h4, p {
        margin-bottom: 3px;
    }

    @include mobile {
        padding: 20px 10px;
    }
}

.staff_thumbnail_card_content p {
  font-weight: 300;
  line-height: 18px;
  
  @include mobile {
    font-size: 10px;
    line-height: 15px;
  }
}

a.staff_thumbnail_card_link {
  font-size: 13px;
  color: $black;
  
  @include mobile {
    font-size: 10px;
    line-height: 15px;
  }
}

// Social Icons

.staff_thumbnail_card ul.social_icons {
  margin: 10px 0 0;
}

/*==================================
Product Thumbnail Card
==================================*/

// Image

.product_thumbnail_card_image {
    display: block;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    position: relative;
    background-color: $lighterGrey;
}

// Content 

.product_thumbnail_card_content p {
    margin-bottom: 5px;
}

// Out Of Stock State

.product_thumbnail_card.outofstock {
    opacity: .3;
}