/*==================================
Fonts
==================================*/

.wysiwyg {
  color: $darkGrey;
}

.wysiwyg {
  h1, h2, h3, h4, h5 {
    color: $black;
  }
}

.wysiwyg p a:not(.rny_button), .wysiwyg h1 a:not(.rny_button), .wysiwyg h2 a:not(.rny_button), .wysiwyg h3 a:not(.rny_button) {
    border-bottom: 2px solid $yellow;
	
    &:hover {
      color: $yellow;
    }
}

/*==================================
Buttons
==================================*/

.wysiwyg a.rny_button {
  margin-bottom: 20px;
}

/*==================================
Lists
==================================*/

.wysiwyg {
  ul, ol {
    margin: 0 0 20px;
    padding: 0;
    list-style-position: outside;
  }
}

.wysiwyg li {
  margin-left: 1.3em;
}

/*==================================
Slider
==================================*/

.wysiwyg .rny_slider ul {
  margin: 0;
}

.wysiwyg .rny_slider li {
  margin: 0;
}

/*==================================
Images and Figures
==================================*/

figure {
  max-width: 100%;
}

.wysiwyg figure a {
    border-bottom: 0 !important;
}

.wysiwyg a[rel*="attachment"] {
    border-bottom: 0 !important;
}

.wysiwyg img {
  margin-bottom: 20px;
}

/*==================================
Blockquote
==================================*/

blockquote {
  border-left: 3px solid $blue;
  padding-left: 30px;
  margin: 0 0 20px;
}