/*==================================
Blog Grid
==================================*/

.blog_grid {
    display: flex;
    flex-flow: row wrap;
}

.blog_grid .post_card {
    width: 33.33%;
    padding: 0 10px;
    
    @include tablet {
        width: 50%;
    }
    
    @include mobile_landscape {
        width: 100%;
    }
}

/*==================================
AJAX Load More
==================================*/

// Button

.alm-btn-wrap {
    text-align: center;
    margin-bottom: 130px;
}

.alm-btn-wrap button {
    outline: 0;
}

button.alm-load-more-btn.more.done {
    opacity: .3;
}