/*==================================
General
==================================*/

.woocommerce-cart {
  color: $darkGrey;
}

/*==================================
Table Elements
==================================*/

// Structure

.woocommerce table.shop_table {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

// Header

.woocommerce table.shop_table th {
    font-weight: 300;
}

// Table Columns

.woocommerce-cart table.cart td {
    vertical-align: top;
    font-weight: 300;
    padding: 6px 12px 6px 0;
}

/*==================================
Line Item
==================================*/

.woocommerce tr.cart_item {
    font-weight: 300;
}

// Remove Item

.woocommerce a.remove {
    color: $red !important;
}

.woocommerce a.remove:hover {
    background: $red;
}

// Image

.woocommerce-cart table.cart img {
    width: 100px;
}

// Product Name

.product-name a:hover {
    color: $yellow;
}

// Quantity

.woocommerce-cart-form__cart-item.cart_item .product-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// Subtotal

.woocommerce-cart table.cart td.product-subtotal {
    font-weight: 600;
}

td.product-subtotal, th.product-subtotal {
    text-align: right;
}

/*==================================
Coupon / Update Cart
==================================*/

// Structure

.woocommerce-cart table.cart td.actions {
    padding: 20px 0;
}

// Coupon Input/Button

.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: auto;
}

.woocommerce .coupon .button {
    background: $yellow;
    color: $black;
    padding: 9px 1em;
    border-radius: 0;
    transition: all .3s ease-in-out;

    &:hover {
        background: $black;
        color: $yellow;
    }
}

// Update Cart

button.button[name="update_cart"] {
    border-radius: 0;
}

/*==================================
Cart Bottom/Collaterals
==================================*/

// Structure

.woocommerce .cart-collaterals, .woocommerce-page .cart-collaterals {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/*==================================
Cart Donation Form
==================================*/

.cart-collaterals-left {
    width: 50%;
    
    @include tablet {
        width: 100%;
    }
}

// Donation Form Adjustments

.woocommerce .product.donation_product {
    label.quantity_label, .quantity, .woocommerce-variation.single_variation {
        display: none !important;
    }
}

.woocommerce .cart-collaterals-left .product.donation_product form.cart {
    margin-bottom: 10px;
}

.woocommerce .cart-collaterals-left .product.donation_product form.cart .variations td {
    margin-bottom: 20px;
    vertical-align: middle;
}

.woocommerce .cart-collaterals-left .product.donation_product form.cart .variations label {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
}

.woocommerce .cart-collaterals-left .product.donation_product form.cart .button-variable-item span {
    font-size: 18px;
    line-height: 18px;
}

.woo-variation-swatches-stylesheet-enabled .cart-collaterals-left .product.donation_product form.cart .variable-items-wrapper .variable-item:not(.radio-variable-item) {
    margin: 4px 13px 4px 0;
}

.woocommerce .product.donation_product form.cart button.single_add_to_cart_button {
    display: block;
    width: auto;
    border-radius: 0;
    background: none;
    text-transform: none;
    border-bottom: 2px solid $yellow;
    padding: 0 0 5px;
    color: $black;
    font-size: 14px;

    &:hover {
        background: none;
    }
}

// Text

.cart-collaterals-left p {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    max-width: 380px;
}

/*==================================
Totals
==================================*/

.woocommerce .cart-collaterals .cart_totals {
    width: 50%;
    font-weight: 300;

    @include tablet {
        width: 100%;
    }
}

// Hide Title

.cart_totals > h2 {
    display: none;
}

// Headers

.woocommerce table.shop_table th {
    font-weight: 600;
    padding: 9px 12px 9px 0;
}

// Links

.cart_totals a {
    border-bottom: 2px solid $yellow;
}

// Checkout Button

a.checkout-button.button.alt {
    background: $black;
    border-radius: 0;
    font-size: 20px;
    transition: all .3s ease-in-out;

    &:hover {
        background: $yellow;
        color: $black;
    }
}