/*==================================
General
==================================*/

// Fonts 

.woocommerce-checkout {
  color: $darkGrey;
}

.woocommerce-checkout .main_content h2, .woocommerce-checkout .main_content h3 {
    font-size: 18px;
    line-height: 20px;
}

/*==================================
Customer Detail - Structure Adjustment
==================================*/

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1 {
    float: none;
    width: 100%;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    float: none;
    width: 100%;
}

.woocommerce-billing-fields__field-wrapper {
    margin-bottom: 30px;
}

// Ship to different address

h3#ship-to-different-address {
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
}

/*==================================
Form
==================================*/

// Input/Textarea

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    background: $beige;
    border: 0;
    padding: 10px;
}

// Select

.woocommerce .select2-container--default .select2-selection--single {
    background-color: $beige;
    border: 0;
    border-radius: 0;
    height: 40px;
}

.woocommerce .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
}

.woocommerce .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
}

// Billing Country
// When only shipping to a single country then there is no dropdown, just a bolded country name.
// Removing the bold so the styling and hierarchy of content is cleaner.

#billing_country_field strong {
    font-weight: 400;
}

/*==================================
Checkout Coupon
==================================*/

.woocommerce form.checkout_coupon {
    border-radius: 0;
    border: 1px solid $lightestGrey;
}

form.woocommerce-form-coupon .form-row {
    padding: 0px;
    margin: 0;
}

form.woocommerce-form-coupon .form-row-last, form.woocommerce-form-coupon .form-row-last {
    float: left;
}

.checkout_coupon button.button {
    background: $black;
    color: $white;
    padding: 12px 20px;
    border-radius: 0;
    transition: all .3s ease-in-out;

    &:hover {
        background: $yellow;
        color: $black;
    }
}

/*==================================
Payment Box
==================================*/

.woocommerce-checkout #payment {
    background: $white;
}

.woocommerce-checkout #payment ul.payment_methods {
    padding: 0;
}

.woocommerce-checkout #payment div.form-row {
    padding: 10px 0 0;
}

.woocommerce-checkout #payment div.payment_box::before {
    border: 1em solid $beige;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.woocommerce-checkout #payment div.payment_box {
    background: $beige;
}

.woocommerce .wc-stripe-elements-field, .woocommerce .wc-stripe-iban-element-field {
    border: 0;
    padding: 10px;
}

// Text

.payment_box p {
    font-size: 14px;
    line-height: 23px;
}

// Hide Radio Button Styling for Payment Methods

.wc_payment_method [type=radio]:checked+label:before, .wc_payment_method [type=radio]:not(:checked)+label:before {
    display: none;
}

.wc_payment_method [type=radio]:checked+label:after, .wc_payment_method [type=radio]:not(:checked)+label:after {
    display: none;
}

// Stripe Specific

.woocommerce .woocommerce-checkout #payment .payment_method_stripe label[for=payment_method_stripe] {
    padding-left: 0;
}

.woocommerce .woocommerce-checkout #payment ul.payment_methods li img.stripe-icon {
    @include mobile {
        max-width: 25px;
    }
}

/*==================================
Total Table
==================================*/

.woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
    font-weight: 300;
}

/*==================================
Order Recieved
---
Separate screen but apart of the checkout template.
==================================*/

// Order Overview

.woocommerce-order-received .woocommerce ul.order_details {
    margin: 0 0 20px;
    list-style: none;
}

.woocommerce-order-received .woocommerce ul.order_details li {
    margin-bottom: 10px;
}

// Shipping/Billing Address Structure

.woocommerce-order-received .woocommerce-customer-details section.woocommerce-columns {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -15px;
    width: auto;
}

.woocommerce-order-received .woocommerce-column.woocommerce-column--1.woocommerce-column--billing-address.col-1 {
    width: 50%;
    padding: 0 15px;

    @include tablet {
        width: 100%;
        margin-bottom: 20px;
    }
}

.woocommerce-order-received .woocommerce-column.woocommerce-column--2.woocommerce-column--shipping-address.col-2 {
    width: 50%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;

    @include tablet {
        width: 100%;
    }
}

.woocommerce-order-received .woocommerce-columns address {
    border: 0;
    background: $beige;
    border-radius: 0;
    flex: 1;
    padding: 20px;
}