/*==================================
Structure
==================================*/

.page-template-donate .main_content {
    padding-top: 0;
}

.page-template-donate .main_header .main_header_sub_nav {
    display: none !important;
}

.page-template-donate .page_header {
    display: none;
}

/*==================================
Donate Top
==================================*/

section.donate_top {
    background-size: cover;
    background-position: center bottom;
    padding-top: 80px;
}

section.donate_top .tabs_container {
    margin-bottom: 100px;
}