/*==================================
Event Panels
==================================*/

// Image

.event_panel_image {
    display: block;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-bottom: 30px;
    
    &:before {
        @include overlay(rgba($black, .5));
        transition: all .3s ease-in-out;
    }
    
    @include large_desktop {
        height: 600px;
    }
        
    @include tablet {
        height: 300px;
    }
}

// Date

h1.event_panel_date {
    position: absolute;
    bottom: 30px;
    left: 60px;
    font-size: 60px;
    line-height: 70px;
    color: $white;
    margin-bottom: 0;
    z-index: 10;
    transition: all .3s ease-in-out;
    
    @include tablet {
        font-size: 40px;
        line-height: 50px;
        bottom: 20px;
        left: 20px;
    }
}

.event_panel_image:hover h1.event_panel_date {
    color: $yellow;
}

.event_panel_image:hover:before {
    background: rgba($black, .2);
}