/*==================================
General Structure
==================================*/

.page-template-homepage .main_content {
    height: 100vh;
}

/*==================================
Footer
==================================*/

.page-template-homepage .footer_container {
    display: none;
    
    @include tablet {
        display: block;
    }
}
