/*==================================
Program Panel
==================================*/

// Structure

.program_panel {
    height: 600px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    
    @include tablet {
        height: auto;
    }
}

// Image

.program_panel_image {
    width: 55%;
    height: 100%;
    display: block;
    background-size: cover;
    background-position: center;
    
    @include tablet {
        width: 100%;
        height: 400px;
    }
    
    @include mobile_landscape {
        height: 300px;
    }
}

// Content

.program_panel_content {
    width: 45%;
    padding-left: 10px;
    
    @include tablet {
        width: 100%;
        padding-left: 0;
    }
}

.program_panel_card {
    background: $teal;
    color: $white;
    padding: 50px 40px;
    height: 100%;
    
    @include tablet {
        padding: 40px 20px;
    }
}

// Card Header

header.program_card_header {
    margin-bottom: 50px;
    
    @include tablet {
       margin-bottom: 20px;
    }
}

header.program_card_header {
    p {
        font-weight: 300;
    }
    p, h3 {
        margin-bottom: 5px;
    }
}

// Card Table

.program_card_table {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 30px;
}

.program_panel_card .program_card_table {
    @include tablet {
       display: none;
    }
}

.program_card_table_column {
    width: 33.33%;
    
    @include tablet {
       width: 100%;
       margin-bottom: 20px;
    }
}

.program_card_table_column p {
    font-weight: 300;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin-bottom: 5px;
}

.program_card_table_column h4 {
    margin-bottom: 0;
}

// Card Excerpt

.program_card_excerpt {
    margin-bottom: 50px;
    
    @include tablet {
       margin-bottom: 20px;
    }
}