/*==================================
Messages
==================================*/

.woocommerce-error, .woocommerce-info, .woocommerce-message {
    background: $lightestGrey;

    a {
        border-bottom: 2px solid $yellow;
    }
}

// Info

.woocommerce-info {
    border-top-color: $lightBlue;
}

.woocommerce-info::before {
    color: $lightBlue;
}

// Success

.woocommerce-message {
    border-top-color: $green;
}

.woocommerce-message::before {
    color: $green;
}

// Error

.woocommerce-error {
    border-top-color: $red;
}

.woocommerce-error::before {
    color: $red;
}

/*==================================
Buttons
---
For the most part will try and change the button classes to our custom style.
But sometimes need to change the buttons directly via css.
==================================*/

.woocommerce a.button.wc-backward {
    border-radius: 0;
    background: $black;
    color: $white;
    transition: all .3s ease-in-out;

    &:hover {
        background: $yellow;
        color: $black;
    }
}

/*==================================
Overlay
==================================*/

.blockUI.blockOverlay {
    z-index: 20 !important;
}

/*==================================
Breadcrumbs
==================================*/

.woocommerce .woocommerce-breadcrumb {
    margin: 0 0 20px;
    list-style: none;
}

.woocommerce .woocommerce-breadcrumb li {
    display: inline-block;
}

.woocommerce .woocommerce-breadcrumb li:last-child {
    color: $black;
    font-weight: 600;
}