/*==================================
Structure
==================================*/

// Woocommerce product template has default markup for the entry-summary.
// Keeping that markup and just adjusting it via styles.

.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    float: none;
    width: 100%;
    clear: none;
    margin-bottom: 0;
}

/*==================================
Product Image Slider
==================================*/

// Main Slider

.product_slider {
    margin-bottom: 10px;
}

.product_slider ul.slides > li {
   background: $lighterGrey;
}

// Thumbnails

ul.product_slider_thumbnails {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

ul.product_slider_thumbnails li {
    background-size: cover;
    background-position: center;
    width: 16.66%;
    opacity: .6;
    cursor: pointer;
}

ul.product_slider_thumbnails li.flex-active {
    opacity: 1;
}

ul.product_slider_thumbnails li:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/*==================================
Product Summary
==================================*/

// Title/Price

.single_product_title_price_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.single_product_title_price_container .title {
    width: 70%;
}

.single_product_title_price_container .price.outofstock {
    color: $grey;
}

.single_product_title_price_container .price h2 {
    margin-bottom: 5px;
    font-size: 25px;
    line-height: 30px;
}

.single_product_title_price_container .price h2.regular_price {
    font-weight: 400;
}