/*==================================
Slider Adjustments
==================================*/

.spotlight_page_content .thumbnail_controlled_slider {
    @include tablet {
        visibility: hidden;
        height: 0 !important;
        overflow: hidden;
    }
}