/*==================================
Founder Section
==================================*/

.founder_image_container {
    width: 30%;
    max-width: 400px;
    position: absolute;
    left: 0;
    z-index: 10;
        
    @include tablet {
        width: 100%;
        position: relative;
    }
}

.founder_content {
    padding-top: 100px;
    
    @include tablet {
       padding-top: 0;
    }
}

/*==================================
Board Grid
==================================*/

ul.board_grid {
    margin: 0;
    display: flex;
    list-style: none;
    flex-flow: row wrap;
}

ul.board_grid li.staff_thumbnail_card {
    width: 16.66%;
    
    @include tablet_landscape {
        width: 25%;
    }
    
    @include tablet {
        width: 50%;
    }
}

/*==================================
Staff Grid
==================================*/

ul.staff_grid {
    margin: 0;
    display: flex;
    list-style: none;
    flex-flow: row wrap;
}

ul.staff_grid li.staff_thumbnail_card {
    width: 25%;
      
    @include large_desktop {
        width: 16.66%;
    } 
     
    @include tablet {
        width: 50%;
    }
    
}

/*==================================
Additional Groups
==================================*/

ul.additional_groups_list {
    list-style: none;
    margin: 0;
}

ul.additional_groups_list li {
    color: $lightGrey;
    cursor: pointer;
    
    &.active {
        color: $black;
    }
}

ul.additional_groups_list li {
    h1,h2,h3 {
        margin-bottom: 20px;
        
        @include tablet {
            margin-bottom: 10px;
        }
    }
}