@import "base/_variables.scss";

// Change background color and font family

body {
  background: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// Adjust overall form padding

#login {
  padding: 0;
}
 
// Change Width and Height of Logo Image + Add Custom Image File

.login h1 a {
  background-image: url('../img/logo/logo_white.svg');
  width: 200px;
  height: 103px;
  background-size: 200px;
  margin: 0 auto;
}
 
// Add a few changes to the color and style of form itself

.login form {
  margin-top: 10px;
}

.login label {
  color: #454545;
  display: block;
  margin-bottom: 1em;
  font-weight: normal;
}
 
.login #backtoblog a, .login #nav a {
  color: $white;
  transition: all .3s ease-in-out;

  &:hover {
    color: $white;
    opacity: .8;
  }
}
 
.wp-core-ui .button-primary {
  background: $black;
  border: none;
  text-shadow: none;
  box-shadow: none;
  transition: all .3s ease-in-out;
}

.wp-core-ui .button-primary:hover {
  background: $white;
}

button, input, select, textarea {
  font-weight: normal;
}
